body{
    font-family: Arial;
    background: linear-gradient(135deg,#020617,#0f172a);
    color:white;
    text-align:center;
    padding:40px;
}

h1{
    font-size:50px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap:30px;
    margin-top:60px;
}

.card{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    padding:40px;
    border-radius:25px;
    text-decoration:none;
    color:white;
    font-size:22px;
    transition:0.4s;
    box-shadow:0 0 30px rgba(0,0,0,0.6);
}

.card:hover{
    transform: translateY(-12px) scale(1.05);
    background:#1e40af;
}
