*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    min-height:100vh;
    color:white;
}

/* Background */

body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("R (1).jfif");

    background-size:cover;
    background-position:center;

    z-index:-1;
}

/* Content */

.content{
    padding:70px;
    text-align:center;
}

/* Title */

h1{
    font-size:55px;
    font-weight:700;

    background: linear-gradient(90deg,#3b82f6,#8b5cf6);
    -webkit-background-clip:text;
    color:transparent;

    margin-bottom:20px;
}

/* Grid */

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:35px;
    margin-top:60px;
}

/* Cards */

.card{
    padding:45px;
    border-radius:30px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(30px);

    text-decoration:none;
    color:white;
    font-size:22px;

    box-shadow:0 0 40px rgba(0,0,0,0.6);

    transition:0.5s;
}

.card:hover{
    transform: translateY(-12px) scale(1.05);
    background: rgba(59,130,246,0.2);
}
