*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

body{
    min-height:100vh;

    background-color:#0f172a;

    background-image:
    linear-gradient(45deg, rgba(255,255,255,0.03) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255,255,255,0.03) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.03) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.03) 75%);

    background-size:40px 40px;
    background-position:0 0, 0 20px, 20px -20px, -20px 0px;

    color:white;
    font-family: Arial;
}


/* Center content */

.content{
    padding:60px;
    text-align:center;
}

/* Title */

h1{
    font-size:55px;
    margin-bottom:20px;
    background: linear-gradient(90deg,#3b82f6,#8b5cf6);
    -webkit-background-clip:text;
    color:transparent;
}

/* Glass Card */

.card{
    margin:30px auto;
    max-width:500px;

    padding:40px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(25px);

    border-radius:30px;

    box-shadow:0 0 40px rgba(0,0,0,0.6);

    transition:0.5s;
}

.card:hover{
    transform: translateY(-12px) scale(1.03);
    background: rgba(59,130,246,0.15);
}

/* Links */

a{
    color:white;
    text-decoration:none;
    font-size:20px;
}

/* Sidebar */

.sidebar{
    position:fixed;
    width:240px;
    height:100vh;

    padding:30px;

    background: rgba(255,255,255,0.03);
    backdrop-filter: blur(30px);
}

.sidebar a{
    display:block;
    margin:25px 0;
    transition:0.3s;
}

.sidebar a:hover{
    color:#3b82f6;
}
